
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 59, 115);
    color: white;
    margin: 0;
}

footer{
    position: fixed;
    margin: auto;
    bottom: 0;
    text-align: center;
    background-color: rgb(182, 37, 50);
    color: white;
    width: 100%;
    padding: 3%;
}

img{
    width: 40%;
    height: 30%;
}
#articles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
#main-article{
    width: 60%;
    height: 50%;
    text-align: center;


}

#side-article{
    flex-direction: column;
    width: 40%;
    text-align: center;
}

#submit{
    background-color: rgb(38, 59, 115);
    color: white;
}

#submit:hover{
    background-color: rgb(182, 37, 50);
}